In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rawson,AR,2022-01-31 00:19:28,-43.3002,-65.1023,59.95,36,57,4.38
1,1,Bethel,US,2022-01-31 00:19:28,41.3712,-73.4140,21.49,61,1,0.00
2,2,Pevek,RU,2022-01-31 00:19:28,69.7008,170.3133,-16.64,99,96,1.57
3,3,Mount Gambier,AU,2022-01-31 00:18:13,-37.8333,140.7667,69.71,83,100,5.75
4,4,Havoysund,NO,2022-01-31 00:19:29,70.9963,24.6622,31.08,67,88,18.32

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximun temp.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights= temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= humidity, dissipating= False, max_intensity= 300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= clouds, dissipating= False, max_intensity= 300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= wind_speed, dissipating= False, max_intensity= 300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) &
                                       (city_data_df['Max Temp'] <= max_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Lae,PG,2022-01-31 00:19:31,-6.7221,146.9847,84.87,58,98,4.99
9,9,Butaritari,KI,2022-01-31 00:18:11,3.0707,172.7902,81.91,77,52,20.89
10,10,Rikitea,PF,2022-01-31 00:18:01,-23.1203,-134.9692,76.98,65,93,4.21
12,12,Cap Malheureux,MU,2022-01-31 00:16:06,-19.9842,57.6142,78.48,82,100,1.99
13,13,Bambous Virieux,MU,2022-01-31 00:19:32,-20.3428,57.7575,78.22,83,99,15.52
20,20,New Norfolk,AU,2022-01-31 00:19:34,-42.7826,147.0587,81.66,38,3,1.99
22,22,Caravelas,BR,2022-01-31 00:19:35,-17.7125,-39.2481,79.57,83,50,11.97
33,33,Faanui,PF,2022-01-31 00:19:40,-16.4833,-151.7500,80.98,71,17,11.61
34,34,Ligayan,PH,2022-01-31 00:19:41,4.6533,119.4706,82.18,70,88,8.41
45,45,Pitimbu,BR,2022-01-31 00:20:46,-7.4706,-34.8086,79.39,78,14,10.07

In [22]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [23]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [24]:
preferred_cities_df.notnull().sum()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [25]:
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7               Lae      PG     84.87  -6.7221  146.9847
9        Butaritari      KI     81.91   3.0707  172.7902
10          Rikitea      PF     76.98 -23.1203 -134.9692
12   Cap Malheureux      MU     78.48 -19.9842   57.6142
13  Bambous Virieux      MU     78.22 -20.3428   57.7575
20      New Norfolk      AU     81.66 -42.7826  147.0587
22        Caravelas      BR     79.57 -17.7125  -39.2481
33           Faanui      PF     80.98 -16.4833 -151.7500
34          Ligayan      PH     82.18   4.6533  119.4706
45          Pitimbu      BR     79.39  -7.4706  -34.8086

In [31]:
# Set parameters to search for a hotel.
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key,
}

In [33]:
# Iterate through the DataFrame.
for index,row in hotel_df.iterrows():
    # Get the latitude and longtitude.
    lat = row['Lat']
    lng= row['Lng']
    
    # Add the latitude and longtitude to the location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: 'lodging' and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except:
        print('Hotel not found....skipping.')

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Lae,PG,84.87,-6.7221,146.9847,Phils Hotel
9,Butaritari,KI,81.91,3.0707,172.7902,Isles Sunset Lodge
10,Rikitea,PF,76.98,-23.1203,-134.9692,People ThankYou
12,Cap Malheureux,MU,78.48,-19.9842,57.6142,Pereybere Hotel & Spa
13,Bambous Virieux,MU,78.22,-20.3428,57.7575,Casa Tia Villa
20,New Norfolk,AU,81.66,-42.7826,147.0587,The Shingles Riverside Cottages
22,Caravelas,BR,79.57,-17.7125,-39.2481,Pousada dos Navegantes
33,Faanui,PF,80.98,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
34,Ligayan,PH,82.18,4.6533,119.4706,
45,Pitimbu,BR,79.39,-7.4706,-34.8086,Reserva do Abiaí

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31), zoom_level= 1.5)
heat_layer= gmaps.heatmap_layer(locations, weights=max_temp, dissipating= False, max_intensity= 300, point_radius= 4)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))