## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
file_to_open = os.path.join("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv(file_to_open)
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,4,Carnarvon,AU,77.07,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
1,5,Lorengau,PG,80.26,light rain,-2.0226,147.2712,Lorengau Harbourside Hotel
2,8,Avarua,CK,84.25,scattered clouds,-21.2078,-159.7750,Paradise Inn
3,20,Lokoja,NG,79.29,clear sky,7.8024,6.7430,Hotel Charvid
4,27,Ahipara,NZ,75.31,overcast clouds,-35.1667,173.1667,Ahipara Holiday Park

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
max_temps = vacation_df['Max Temp']

fig = gmaps.figure(center=(30.0,31), zoom_level= 1.5)
heat_layer= gmaps.heatmap_layer(locations, weights=max_temps, dissipating= False, max_intensity= 300, point_radius= 4)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Yeppoon']
vacation_end = vacation_df.loc[vacation_df['City']=='Yeppoon']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Hervey Bay']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Gold Coast'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Ballina']

vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
65,184,Yeppoon,AU,74.98,light rain,-23.1333,150.7333,Villa Mar Colina

In [39]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [38]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

au_trip = gmaps.directions_layer(start, end, waypoints= [stop1, stop2, stop3], travel_mode= 'DRIVING')

fig.add_layer(au_trip)

fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,184,Yeppoon,AU,74.98,light rain,-23.1333,150.7333,Villa Mar Colina
1,263,Hervey Bay,AU,82.04,overcast clouds,-25.2986,152.8535,Shelly Bay Resort
2,594,Gold Coast,AU,83.34,overcast clouds,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
3,52,Ballina,AU,75.16,overcast clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
4,184,Yeppoon,AU,74.98,light rain,-23.1333,150.7333,Villa Mar Colina

In [47]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))